a {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr 136px 1fr;
  grid-template-rows: 109px;
  padding: 92px 50px;
  font-weight: 400;
  font-size: 18px;
}

.header__menu {
  align-self: center;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  max-width: 136px;
  max-height: 105px;
  border-bottom: none;
}

.header__address {
  place-self: center end;
}

.address {
  font-style: normal;
  line-height: 1.35;
}

.cover {
  position: relative;
  z-index: 0;
  padding: 165px 50px 50px;
  color: #FFF;
  background: url('../images/cover.jpg') no-repeat center / cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 1.15;
  letter-spacing: 3px;

}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text_center {
  display: block;
  align-self: center;
  line-height: 1;
  letter-spacing: 4px;
}

.aligned-text_right {
  display: block;
  align-self: end;
  line-height: 1;
  letter-spacing: 4px;
}

.letter-spacing-last-word {
  letter-spacing: 18px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: end;
  align-items: baseline;
  gap: 78px;
  margin-top: 135px;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  line-height: 1.27;
  word-spacing: 18px;
}

.bet-button {
  border: #fff 1px solid;
  padding: 12px 32px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  padding: 180px 50px 182px;
}

h2 {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.lots h2 {
   padding: 0 0 0 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin-top: 27px;
  list-style: none;
}

.lots__card-list-item {
  flex: 1 0 430px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  border-bottom: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 39px 50px 40px;
  /* Padding 39px для прохождения автотеста в github actions */
  color: #FFF;
}

.card_type_film {
  background: url('../images/card-lot-01.jpg') no-repeat center / cover;
}

.card_type_book {
  background: url('../images/card-lot-02.jpg') no-repeat center / cover;
}

.card_type_picture {
  background: url('../images/card-lot-03.jpg') no-repeat center / cover;
}

.card__title {
  z-index: 2;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: inline-block;
  margin: 30px 0 0 40px;
  font-size: 20px;
}

.about {
  padding: 0 50px 180px;
  display: grid;
  grid-template-columns: 430px 1fr;
  grid-template-rows: 1fr;
  gap: 25px;
}

.about__column_center {
  place-self: start center;
}

.about__logo {
  background: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  padding: 63px 46px;
}

.about__logo-image {
  max-width: 148px;
  max-height: 114px;
}

.about__title {
  margin: 100px 0;
}

.about__text_block {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.about__text {
  font-size: 20px;
  line-height: 1.15;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 5px 50px 90px;
}

.footer ul {
  list-style: none;
}

.footer__menu {
  text-align: center;
}

.footer__social-list a {
  border-bottom: none;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-icon {
  max-height: 48px;
}
