a {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr 136px 1fr;
  grid-template-rows: 109px;
  padding: 92px 50px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.header__menu {
  align-self: center;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  max-width: 136px;
  max-height: 105px;
  border-bottom: none;
}

.header__address {
  place-self: center end;
  line-height: 1.35;
}
